<div>
  <div id='contact-info'>
  Contact Info for <%= $d.course.short_name %>:<br>
    <span class='ci-item'> Office: <%= $d.office %></span>
    <span class='ci-item'>Phone: <%= $d.phone %></span>
    <span class='ci-item'>Office Hours: <%= $d.semester.office_hours %></span>
  </div>
</div>